
*
.wrapper{
    width:800px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 45%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.925);
    border-radius: 8px;
    display:flex;
    justify-content:center;
}
.container{
    justify-content: flex-start;
    width: 100px;
}
label{
    font-family: 'Poppins', sans-serif;
    color: #000000; 
    font-size: 15px;
}input{
    top: 0px;
    border-radius: 5px;
    border: 2px solid rgb(124, 124, 124);
    outline:none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color:#4696D7;
}